<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
<!--    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">-->
<!--    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">-->
    <title>Calculatrice</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">


  </head>
  <body>
  <header id="titlebar">
    <div id="drag-region">
      <div id="window-title">
        <span>Calculatrice</span>
      </div>
      <div id="window-controls">

        <div class="button" id="min-button" onclick="minii()">
          <img class="icon" srcset="images/min-w-10.png 1x," draggable="false" />
        </div>

        <div class="button" id="max-button" onclick="maxii()">
          <img class="icon" srcset="images/max-w-10.png 1x" draggable="false" />
        </div>


        <div class="button" id="close-button" onclick="closee()">
          <img class="icon" srcset="images/close-w-10.png 1x" draggable="false" />
        </div>

      </div>
    </div>
  </header>
