@font-face {
    font-family: "digital";
    src: url("/font/digital-7.ttf");
}

body{
    background-color: #2f3241;

}
.titre{
    font-size: 25px;
    font-style: italic;
    font-family: digital;
    color: #9feaf9;
}
.fleex{
    width: 100%;
    display: flex;
    justify-content: center;
}

#balise{
    padding: 5px;
    height: 37px;
    width: 200px;
    border: 2px solid #42435a;
    border-radius: 10px ;
    color: #9feaf9;
    font-family: digital;
    -webkit-app-region: drag;

}


.vertical-menu {
    width: 200px;
    height: 150px;
    overflow-y: auto;
    font-family: digital;
    font-size: 1.5em !important;
}

.td{
  border-bottom: 1px solid #555673;
}

.vertical-menu tr:hover {
    background-color: #404c62;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #42435a;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555673;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* quick reset so all our padding is the right size */
* {
    box-sizing: border-box;
}

.calculator input,
.calc-button   {
    font-family: digital;
    outline: #111 !important;
}


/* limit the width and center */
.calculator   {
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid #111;
    border-radius: 5px;
}

.calculator input   {
    /* reset basic form styles */
    background: none;
    border: none;
    box-shadow: none;
    outline: none;

    padding: 20px 10px;
    width: 100%;
    border-bottom: 2px solid #111;
    color: #333;
    text-align: right;
    font-size: 40px;
    border-radius: 0;
}

.calc-button  {
    background: rgba(0, 0, 0, 0.5); /* light background with opacity 50% */
    border: 1px solid #111; /* black border */
    padding: 20px;
    color: #EEE; /* white text */
    border-radius: 5px; /* rounded corners */
    font-size: 22px; /* larger fonts */
    cursor: pointer; /* make it look clickable */
}

.calculator-buttons {
    /* small spacing within our container */
    padding: 20px;

    /* the grid stuff! */
    display: grid;

    /* create 4 columns */
    grid-template-columns: 1fr 1fr 1fr 1fr;

    /* add the grid gap */
    grid-gap: 15px;
}

/* span across 3 columns */

.is-clear   {
    grid-column: span 3;
}

.is-zero{
    grid-column: span 2;
}

/* go blue */
.is-clear   {
    background: #465a7e;
}

.is-equals {
    background: #20733b;
}